@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding: 0px;
}

/* Header section */
header {
  position: relative;
}

.header-btns {
  background-color: #ff4f64;
  border-radius: 20px;
  width: 100px;
  font-size: 14px;
  letter-spacing: 1px;
}

.logo {
  color: white;
  display: flex;
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.fa-img {
  font-size: 30px;
  margin-right: 5px;
}

.navbar-box {
  display: flex;
  justify-content: space-evenly;
  position: absolute;

  margin-top: 40px;
  width: 100%;
  z-index: 1;
}
.inner-navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  height: 40px;
  width: 40%;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  background-color: #ff4f64;
}
.menubar {
  display: none;
}
.search-navbar {
  display: none;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 0; /* Set a lower z-index for the carousel controls */
}
.inner-navbar div a:hover {
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}
.toggle-btn {
  width: 75px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  position: relative;
  border: 1.5px solid white;
  border-radius: 20px; /* Ensures a round shape */
  overflow: hidden;
  cursor: pointer;
  display: flex;
  margin: 0px 20px 0px 0px;
  align-items: center;
}
.toggle-circle {
  width: 45px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff4f64;
  position: absolute;
  transition: transform 0.3s;
}
.toggle-btn.active .toggle-circle {
  transform: translateX(27px);
}

/* Add this to your existing CSS */
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  color: white;
  z-index: 1;
}
.centered-text h1 {
  font-weight: 900;
  font-size: 50px;
}
.centered-text p {
  font-size: 15px;
  max-width: 500px;
  margin: 0 auto;
}
.centered-box {
  width: 60%;
  height: 70px;
  position: absolute;
  border-radius: 40px;
  top: 62%;
  left: 50%;
  padding: 5px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  z-index: 1;
}
.vertical-line {
  width: 1.5px;
  height: 40px;
  background-color: black;
}
.centered-box span {
  display: flex;
  align-items: center;
  margin: 25px;
}

.search-box-btn {
  height: 90%;
  width: 130px;
  border-radius: 50px;
  background-color: #ff4f64;
}
/* Adjust your existing .overlay class */
/* .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
} */
.home-imgs {
  filter: brightness(70%);
}

/*  Responsiveness starts here */
@media (max-width: 1230px) {
  .centered-box {
    height: 60px;
  }
}
@media (max-width: 1200px) {
  .centered-box {
    height: 55px;
    padding: 5px 7px 5px 0px;
  }
  .vertical-line {
    height: 28px;
  }
  .centered-box span {
    margin: 18px;
  }
}
@media (max-width: 1125px) {
  .centered-box {
    height: 50px;
    padding: 2px 4px 2px 0px;
  }
  .centered-box span {
    margin: 15px;
  }
  .centered-text p {
    font-size: 13px;
    max-width: 450px;
  }
  .centered-text h1 {
    font-size: 40px;
  }
  .vertical-line {
    height: 20px;
    width: 1px;
  }
  #searchButton:before {
    margin-right: 5px;
  }
  .res-font {
    font-size: 14px;
  }
}
@media (max-width: 1050px) {
  .centered-text h1 {
    font-size: 30px;
  }
  .centered-text p {
    font-size: 12px;
    max-width: 400px;
  }
  .res-font {
    font-size: 13px;
  }
}
@media (max-width: 960px) {
  .centered-box {
    justify-content: space-between;
    padding-left: 10px;
  }
  .centered-box span {
    margin: 7px;
  }
  .search-box-btn {
    width: 48px;
  }
  .res-font {
    font-size: 12.5px;
  }
  .logo {
    margin: 0px 20px 0px 25px;
  }
}
@media (max-width: 900px) {
  .centered-box span {
    margin: 5px;
  }
  .navbar-box {
    margin-top: 25px;
  }
  .inner-navbar {
    height: 30px;
    font-size: 12px;
  }
  .inner-navbar div a:hover {
    padding: 2px 5px 2px 5px;
  }
  .fa-img {
    font-size: 25px;
    margin-right: 5px;
  }
  .logo_name {
    font-size: 15px;
  }
  .toggle-btn {
    width: 55px;
    height: 30px;
  }
  .toggle-btn.active .toggle-circle {
    transform: translateX(19px);
  }
  .toggle-circle {
    width: 34px;
    height: 30px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-btns {
    height: 30px;
    width: 70px;
    font-size: 12px;
  }
  .res-font {
    font-size: 12px;
  }
}

@media (max-width: 875px) {
  #submit-search-btn {
    background-color: #ff4f64;
    color: white;
    border-radius: 15px;
    border: none;
  }
  #submit-search-btn:hover {
    background-color: #c9273a;
  }
  .me-2 {
    border-radius: 15px;
  }
  .d-flex {
    height: 30px;
  }
  .menubar {
    margin: 0px 25px 0px 20px;
    border-radius: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    border: none;
  }
  .sidebar {
    z-index: 2;
  }
  .menubar:hover {
    background-color: #c9273a;
  }
  .navbar-box {
    justify-content: space-between;
  }
  .logo {
    margin: 0px 20px 0px 25px;
  }
  .res-font {
    font-size: 10px;
  }
  .centered-box {
    padding-left: 10px;
    height: 30px;
  }
  .centered-box span {
    font-size: 20px;
  }
  .dropdown-toggle {
    font-size: 65%;
  }
  .menubar,
  .search-navbar {
    display: flex;
  }
  #searchButton,
  #inner-navbar {
    display: none;
  }
  .toggle-btn,
  .header-btns {
    display: none;
  }
}

@media (max-width: 700px) {
  .centered-text h1 {
    font-size: 18px;
  }
  .centered-text p {
    font-size: 8px;
    max-width: 400px;
  }
  .centered-box {
    padding-left: 10px;
    height: 30px;
  }
  .centered-box span {
    font-size: 16px;
  }
  .dropdown-toggle {
    font-size: 65%;
  }
  .navbar-box {
    /* background-color: #ff4f64; */
    padding: 2px 0px 2px 0px;
    margin-top: 0px;
    opacity: 0.9;
  }
  .logo_name {
    font-size: 10px;
  }
  .fa-img {
    font-size: 17px;
  }
}
@media (max-width: 590px) {
  .centered-box {
    height: 22px;
    padding-left: 5px;
  }
  .centered-box span {
    font-size: 13px;
  }
  .d-flex {
    height: 25px;
  }
  .navbar-box {
    align-items: center;
  }
  .menubar {
    height: 25px;
  }
  .vertical-line {
    height: 13px;
    width: 0.8px;
  }
}

@media (max-width: 490px) {
  .centered-box {
    height: 18px;
    padding-left: 5px;
  }
  .centered-box span {
    font-size: 12px;
  }
  .d-flex {
    height: 18px;
  }
  .me-2 {
    font-size: 10px;
  }
  .fa-search {
    font-size: 10px;
    display: flex;
    align-items: center;
  }
  .menubar {
    height: 18px;
    padding: 0px 7px;
  }
  .vertical-line {
    height: 13px;
    width: 0.8px;
  }
  .logo {
    margin: 0px 5px 0px 6px;
  }
  .menubar {
    margin: 0px 6px 0px 5px;
  }
}

@media (max-width: 460px) {
  .centered-text h1 {
    font-size: 14px;
  }
  .centered-text p {
    font-size: 5px;
    max-width: 400px;
  }
  .centered-box {
    height: 14px;
    padding-left: 5px;
  }
  .centered-box span {
    font-size: 7px;
  }
}
@media (max-width: 340px) {
  .centered-text h1 {
    font-size: 10px;
  }
  .centered-box {
    height: 12px;
  }
  .centered-box span {
    font-size: 6px;
  }
}
